.product-card-container {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  max-width: 150px;
  max-height: 100px;
  min-height: 210px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3%;
  margin: 0px 8px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
  justify-content: space-around;
}

.img-container {
  display: flex;
  min-width: 60%;
  min-height: 60%;
  /* background-color: red; */
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}

.product-card-container .img-container img {
  width: 60%;
  height: 45%;
}

.product-card-container .info-container {
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
  min-width: 100%;
  min-height: 40%;
}

.item-name {
  font-size: 16px;
  font-weight: 700;
  margin-top: 5px;
}

.offer {
  font-size: 15px;
  color: green;
  margin-top: 2px;
}

.card-category-name {
  font-size: 12px;
  font-weight: 400;
  margin-top: 2px;
}

@media only screen and (max-width: 912px) {
  .product-card-container {
    min-width: 80px;
    max-width: 90px;
    max-height: 100px;
    min-height: 110px;
    border-radius: 3%;
  }

  .product-card-container .img-container img {
    width: 50%;
    height: 50%;
  }

  .item-name {
    font-size: 9px;
  }

  .offer {
    font-size: 8px;
    color: green;
    margin-top: 2px;
  }

  .card-category-name {
    font-size: 7px;
    font-weight: 400;
    margin-top: 2px;
  }
}
